<alert ng-show="score.displayError()" error-data="score.errorData"></alert>
<confirm ng-show="score.displaySuccess()" message="score.submitSuccessMessage"></confirm>
<loader ng-show="score.loading"></loader>
<div class="panel panel-primary score-panel" ng-show="score.displayData()">
  <div class="panel-heading">
    <h3 class="panel-title">
      Saisie des scores du match 
    </h3>
  </div>
  <div class="panel-body">
    <form>
      <div class="row">
        <div class="col-lg-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                Etape 1 : <strong>Scores</strong>
              </h3>
            </div>
            <div class="panel-body">
              <div class="text-justify">
                Saisissez ci-dessous le score général du match.
              </div>
              <div class="row general-score-header">
                <div class="text-center col-xs-6">
                  <strong>{{score.data.match.firstTeam.label}}</strong>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value=""> Forfait
                    </label>
                  </div>
                </div>
                <div class="text-center col-xs-6">
                  <strong>{{score.data.match.secondTeam.label}}</strong>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value=""> Forfait
                    </label>
                  </div>
                </div>
              </div>
              <div class="row general-score">
                <div class="col-xs-6">
                  <input type="number" class="form-control" ng-model="score.data.match.sc1"
                         ng-disabled="!score.service.isScoreEnabled()"/>
                </div>
                <div class="col-xs-6">
                  <input type="number" class="form-control" ng-model="score.data.match.sc2"
                         ng-disabled="!score.service.isScoreEnabled()"/>
                </div>
              </div>
              <div class="text-justify">
                Saisissez ensuite le détail des sets. Le nombre de champs de saisie
                apparaîtra automatiquement ci-dessous en fonction du score général saisi.
              </div>
              <div>
                <div class="row">
                  <div class="col-xs-6">
                    <input type="number" class="form-control" ng-model="score.data.match.s11"
                           ng-disabled="!score.service.isScoreEnabled()"/>
                  </div>
                  <div class="col-xs-6">
                    <input type="number" class="form-control" ng-model="score.data.match.s12"
                           ng-disabled="!score.service.isScoreEnabled()"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <input type="number" class="form-control" ng-model="score.data.match.s21"
                           ng-disabled="!score.service.isScoreEnabled()"/>
                  </div>
                  <div class="col-xs-6">
                    <input type="number" class="form-control" ng-model="score.data.match.s22"
                           ng-disabled="!score.service.isScoreEnabled()"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <input type="number" class="form-control" ng-model="score.data.match.s31"
                           ng-disabled="!score.service.isScoreEnabled()"/>
                  </div>
                  <div class="col-xs-6">
                    <input type="number" class="form-control" ng-model="score.data.match.s32"
                           ng-disabled="!score.service.isScoreEnabled()"/>
                  </div>
                </div>
                <div class="row" ng-show="score.service.display4thSet()">
                  <div class="col-xs-6">
                    <input type="number" class="form-control" ng-model="score.data.match.s41"
                           ng-disabled="!score.service.isScoreEnabled()"/>
                  </div>
                  <div class="col-xs-6">
                    <input type="number" class="form-control" ng-model="score.data.match.s42"
                           ng-disabled="!score.service.isScoreEnabled()"/>
                  </div>
                </div>
                <div class="row" ng-show="score.service.display5thSet()">
                  <div class="col-xs-6">
                    <input type="number" class="form-control" ng-model="score.data.match.s51"
                           ng-disabled="!score.service.isScoreEnabled()"/>
                  </div>
                  <div class="col-xs-6">
                    <input type="number" class="form-control" ng-model="score.data.match.s52"
                           ng-disabled="!score.service.isScoreEnabled()"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                Etape 2 : <strong>Joueurs</strong>
              </h3>
            </div>
            <div class="panel-body players">
              <div class="players-list"
                   ng-class="{'opposite-players':!score.service.isUserTeam(score.data.match.firstTeam.identifier)}">
                <div>Liste des joueurs de l'équipe à domicile</div>
                <div class="checkbox" ng-repeat="player in score.data.firstTeamPlayers">
                  <label>
                    <input type="checkbox" value=""
                           ng-disabled="!score.service.isUserTeam(player.team.identifier)"
                           ng-checked="score.service.isUserInMatch(player.team.identifier, player.player.identifier)"
                           ng-click="score.updateMatchPlayer(player.team.identifier, player.player.identifier)"> 
                    {{player.player.firstName}} {{player.player.name}}
                  </label>
                </div>
              </div>
              <div class="players-list" 
                   ng-class="{'opposite-players':!score.service.isUserTeam(score.data.match.secondTeam.identifier)}">
                <div>Liste des joueurs de l'équipe à l'extérieur</div>
                <div class="checkbox" ng-repeat="player in score.data.secondTeamPlayers">
                  <label>
                    <input type="checkbox" value=""
                           ng-disabled="!score.service.isUserTeam(player.team.identifier)"
                           ng-checked="score.service.isUserInMatch(player.team.identifier, player.player.identifier)"
                           ng-click="score.updateMatchPlayer(player.team.identifier, player.player.identifier)"> 
                    {{player.player.firstName}} {{player.player.name}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                Etape 3 : <strong>Commentaires</strong>
              </h3>
            </div>
            <div class="panel-body">
              Les commentaires seront visibles sur la feuille de match.
              <textarea class="form-control" rows="4" placeholder="Saisissez votre commentaire sur le match"
                        ng-model="score.data.submitterComment.content"></textarea>
            </div>
          </div>
          <div class="text-justify">
            Deux possibilités pour valider : Validez votre score simplement et attendez la confirmation de l'équipe
            adverse, ou demandez à votre adversaire de confirmer directement après avoir joué le match, grâce à la seconde option.
            En choisissant cette dernière, un mot de passe sera demandé à un membre de l'équipe adverse, et il pourra 
            ensuite valider en direct.
          </div>
          <div class="row">
            <button class="col-lg-12 col-xs-12 btn btn-warning btn-valid" ng-click="score.submit(false)">Valider</button>
            <button class="col-lg-12 col-xs-12 btn btn-danger btn-valid" ng-click="score.refuse()"
                    ng-show="score.service.displayRefuse()" ng-disabled="score.service.enableScoreFlag">
              {{score.service.getRefuseLabel()}}
            </button>
            <button class="col-lg-12 col-xs-12 btn btn-warning btn-valid" ng-click="score.submit(true)"
                    ng-show="score.service.displayValidAndConfirm()">Valider et confirmation adverse</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>