.match-list {
  padding: 0px;
}
.match-list .match {
  cursor: pointer;
  padding: 5px;
  border-bottom: solid 1px @global-first-color;
}
.match-list .match:last-child {
  border-bottom: none;
}
.match-list .match-infos {
  color: darkgray;
  font-size: 13px;
}
.match-list .match:hover {
  background-color: @global-second-color-darken;
}
.match .winner-team {
  font-weight: bold;
}
.match.finished,
.match.winner,
.match-list .match-infos.winner,
.match-list .match-infos.finished {
  color: green;
}
.match.important,
.match.looser,
.match-list .match-infos.looser {
  color: red;
}
.match-list .match-infos.waiting-validation,
.match.waiting-validation {
  color: @brand-warning;
}