.match-list {
  padding: 0px;
}
.match-list .match {
  cursor: pointer;
  padding: 5px;
  border-bottom: solid 1px @global-first-color;
}
.match-list .match:last-child {
  border-bottom: none;
}
.match-list .match-infos {
  color: darkgray;
  font-size: 13px;
}
.match-list .match:hover {
  background-color: @global-second-color-darken;
}
.match .winner {
  font-weight: bold;
}
.match.finished,
.match-list .match-infos .ended {
  color: green;
}
.match.important {
  color: red;
}
.match.waiting-validation,
.match-list .match-infos .played {
  color: @brand-warning;
}