<div class="header">
  <div class="logo">
    <!--<span><i class="cv-icon cv-icon-circle"></i></span>-->
    Cantal<span>Volley</span>
    <div class="logo-sub">
      <span>Le volley pour tous!</span>
    </div>
  </div>
  <div class="menu">
    <div class="menu-item">
      <a href="#home" class="enabled">
        <span><i class="cv-icon cv-icon-home"></i></span>
        Accueil
      </a>
    </div>
    <div class="menu-item">
      <a href="#contacts" class="enabled">
        <span><i class="cv-icon cv-icon-tablet"></i></span>
        Contacts
      </a>
    </div>
    <div class="menu-item">
      <a href="#login" ng-class="{'enabled':accountService.promiseResolved()}">
        <span><i class="cv-icon cv-icon-user"></i></span>
        Mon compte
      </a>
    </div>
    <!--<div class="menu-item">
    <a href="#championship">Championnat 4/4</a>
    </div>
    <div class="menu-item">
      <a href="">Cantal Volley Tour</a>
    </div>-->
  </div>
</div>