/* Le conteneur général doit faire la taille minimum de la page */
.championship-global {
  height: calc(~"100% - "@footer-height + @navbar-height + @header-border-size*2);
}
/* Suppression de l'espacement inférieur du .panel */
.championship-panel {
  margin-bottom: 0px;
  height: 100%;
}
/* Alignement des titres des panneaux */
.championship-panel .panel-title {
  text-align: center;
}
/* Suppression des paddings pour les panel-control : Les liens vers compétitions/championnats */
.championship-panel .panel-control {
  padding: 0px;
}
/* Suppression du padding du grand panneau (celui des compétitions) */
.championship-panel .championship-panel-body {
  padding: 0px;
  height: calc(~"100% - 36px");
}
/* Aucune bordure pour le panneau des championnats (celui du dessous) + Suppression espacement inférieur */
.championship-sub-panel {
  border: none;
  margin-bottom: 0px;
}
/* Suppression du padding du data-container */
.championship-panel .data-container {
  padding: 0px;
}
/* Réduction du padding sur les titres des journées */
.championship-panel .match-panel .panel-heading {
  padding: 5px;
}
/* Augmentation de la taille des boutons qui représentent compétitions et championnats */
.championship-panel .panel-control .btn {
  font-size: 16px;
}
.championship-panel .division-container {
  overflow-y: scroll;
  height: calc(~"100% - 37px");
}