<div class="championship-global">
  <loader ng-show="championship.loading"></loader>
  <div ng-show="!championship.loading">
    <div class="panel panel-primary championship-panel">
      <div class="panel-heading panel-control">
        <h3 class="panel-title">
          <button ng-repeat="competition in championship.data" class="btn btn-primary"
                  ng-click="championship.changeCurrentCompetition(competition)"
                  tabindex="-1">
            {{competition.label}}
          </button>
        </h3>
      </div>
      <div class="panel-body championship-panel-body">
        <div class="panel panel-default championship-sub-panel">
          <div class="panel-heading panel-control">
            <h3 class="panel-title">
              <button ng-repeat="chp in championship.currentCompetition.championships" class="btn btn-default"
                      ng-click="championship.changeCurrentChampionship(chp)"
                      tabindex="-1">
                {{chp.label}}
              </button>
            </h3>
          </div>
          <div class="panel-body division-container">
            <loader ng-show="championship.loadingChampionship"></loader>
            <div class="row" ng-show="!championship.loadingChampionship">
              <div class="col-lg-6">
                <table class="table table-bordered table-condensed table-striped">
                  <tr>
                    <th class="text-center">Equipe</th>
                    <th class="text-center">Pts</th>
                    <th class="text-center">J.</th>
                    <th class="text-center">V.</th>
                    <th class="text-center">P.</th>
                    <th class="text-center">2/3</th>
                    <th class="text-center hidden-xs">F</th>
                    <th class="text-center hidden-xs">SP</th>
                    <th class="text-center hidden-xs">SC</th>
                    <th class="text-center hidden-xs">PP</th>
                    <th class="text-center hidden-xs">PC</th>
                  </tr>
                  <tr ng-repeat="team in championship.currentChampionship.teams">
                    <td><a ng-href="#team/{{team.team.identifier}}">{{team.team.label}}</a></td>
                    <td class="text-center">{{team.points}}</td>
                    <td class="text-center">{{team.play}}</td>
                    <td class="text-center">{{team.win}}</td>
                    <td class="text-center">{{team.loose}}</td>
                    <td class="text-center">{{team.loose3By2}}</td>
                    <td class="text-center hidden-xs">{{team.forfeit}}</td>
                    <td class="text-center hidden-xs">{{team.setsFor}}</td>
                    <td class="text-center hidden-xs">{{team.setsAgainst}}</td>
                    <td class="text-center hidden-xs">{{team.pointsFor}}</td>
                    <td class="text-center hidden-xs">{{team.pointsAgainst}}</td>
                  </tr>
                </table>
              </div>
              <div class="col-lg-6">
                <match-panel ng-repeat="matchList in championship.currentChampionship.matchsByDays track by $index"
                             title="Journée {{$index+1}}" data="matchList" show-details="true" open-details="true">
                </match-panel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>