<div class="footer row">
  <div class="col-lg-6">
    Cantal Volley 2015
    <a href="https://www.facebook.com/pages/Cantal-Volley-Tour/133802766652796" target="_blank">
      <i class="cv-icon cv-icon-facebook-official"></i>
    </a>
    <span class="hidden-xs">| Comité départemental de Volley-ball</span>
  </div> 
  <div class="col-lg-6">
    Tous droits réservés | <strong>Jérémy TOUZY</strong> <i class="cv-icon cv-icon-copyright"></i> |
    <a href="https://fonticons.com/" target="_blank">
      <i class="cv-icon cv-icon-fonticons"></i>
    </a>
    <a href="https://github.com/CantalVolleyDev" target="_blank">
      <i class="cv-icon cv-icon-github-square"></i>
    </a>
  </div>
</div>