<alert ng-show="account.errorData" error-data="account.errorData"></alert>
<loader ng-show="account.loading"></loader>
<div class="panel panel-primary myaccount-panel" ng-show="!account.loading && !account.errorData">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="hidden-xs"><i class="cv-icon cv-icon-user"></i></span>
      Bienvenue<span class="hidden-xs"> sur votre page d'accueil</span>, 
      <strong>{{account.service.client().firstName}}</strong>
      <strong>{{account.service.client().name}}</strong>
      <div class="pull-right clickable-item" ng-click="disconnect()">
        <i class="cv-icon cv-icon-times"></i>
        <span class="hidden-xs">Déconnexion</span>
      </div>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-2">
        <div class="user-infos">
          <i ng-show="!account.imageExists" class="cv-icon cv-icon-user"></i>
          <img ng-show="account.imageExists" src="https://avatars0.githubusercontent.com/u/5709133?v=3&s=460">
          <div class="user-name">
            {{account.service.client().firstName}}
            {{account.service.client().name}}
          </div>
          <div>
            {{account.service.client().mail}}
          </div>
          <div class="user-teams">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="teamPlayer in account.teams">
                {{teamPlayer.team.label}}
              </li>
            </ul>
          </div>
          <div class="help">
            Aide
            <a href="#help/score" class="btn btn-sm btn-warning">Comment saisir un score?</a>
          </div>
        </div>
      </div>
      <div class="match-panel-container col-lg-5">
        <match-panel title="Matchs en attente de validation" data="account.sorted.waitingValidationMatchs"
                     important="true"></match-panel>
      </div>
      <div class="match-panel-container col-lg-5">
        <match-panel title="Matchs en retard (Référence : Date d'aujourd'hui)" data="account.sorted.lateMatchs"
                     important="true"></match-panel>
      </div>
      <div class="match-panel-container col-lg-5">
        <match-panel title="Prochains matchs" data="account.sorted.nextMatchs"></match-panel>
      </div>
      <div class="match-panel-container col-lg-5">
        <match-panel title="Matchs saisis en attente" data="account.sorted.waitingMatchs" open-details="true"></match-panel>
      </div>
    </div>
  </div>
</div>