.login {
  min-height: calc(~"100% - "@footer-height + @navbar-height + @header-border-size*2);
  background-color: @global-first-color;
}

.login .title {
  font-size: 30px;
  padding: 20px 0px 20px 0px;
}

.login .btn-connect {
  font-weight: bold;
}

.login .btn-connect-group {
  margin-bottom: 5px;
}

.login form {
  background-color: white;
  margin-top: 30px;
  padding-bottom: 20px;
}