@import "variables";

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: @desktop-font-size;
  overflow-y: scroll;
}

@media (max-width: @desktop-min-width) {
  body {
    font-size: @laptop-font-size;
  }
}

.page-view {
  min-height: calc(~"100% - "@footer-max-height + @header-height-desktop + @header-bottom-border-size)
}

@media (max-width: @desktop-min-width) {
  .page-view {
    min-height: calc(~"100% - "@footer-max-height + @header-height-laptop + @header-bottom-border-size)
  }
}