.footer {
  background-color: @global-first-color;
  text-align: center;
  color: @global-first-font-color;
  font-size: @laptop-font-size;
  height: @footer-height;
  line-height: @footer-height;
  vertical-align: middle;
}

.footer a,
.footer a:focus {
  color: @global-first-font-color;
  text-decoration: none;
}